.developer-card {
  width: 400px;
  float: left;
  margin-right: 10px;
  margin-top: 10px
}

.header-image {
  background-size: cover;
}

.mat-card-image {
  height: 448px;
}

.mat-fab {
  margin-right: 10px
}
