<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let row"> {{row.city}} </td>
    </ng-container>

    <!-- Stars Column -->
    <ng-container matColumnDef="stars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stars </th>
      <td mat-cell *matCellDef="let row"> {{row.stars}} </td>
    </ng-container>

    <!-- Review Column -->
    <ng-container matColumnDef="review_count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Review Count </th>
      <td mat-cell *matCellDef="let row"> {{row.review_count}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>
