<div>
  <mat-form-field>
    <mat-select placeholder="Neighborhoods" [(ngModel)]="selectedNeighborhood" (selectionChange)="getSmokingStats()">
      <mat-option *ngFor="let n of neighborhood" [value]="n.value">
        {{ n.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="chart-wrapper">
  <canvas #restaurantsBySmoking width="200" height="200"></canvas>
</div>

<div class="chart-wrapper">
  <canvas #restaurantsByArea width="200" height="200"></canvas>
</div>

<div class="chart-wrapper">
  <canvas #restaurantsByMeals width="200" height="200"></canvas>
</div>

<div class="chart-wrapper">
  <canvas #restaurantsByAmbience width="200" height="200"></canvas>
</div>

<div class="chart-wrapper">
  <canvas #restaurantsByMusic width="200" height="200"></canvas>
</div>

<div class="chart-wrapper">
  <canvas #restaurantsByDay width="200" height="200"></canvas>
</div>
