<div class="chart-wrapper">
  <select (change)="getSmokingStats($event.target.value)">
    <option *ngFor="let n of neighborhood" [value]="n.value">
        {{ n.viewValue }}
    </option>
  </select>

  <canvas #restaurantsBySmoking width="200" height="200"></canvas>
</div>
<br>
<div class="chart-wrapper">
  <canvas #restaurantsByArea width="200" height="200"></canvas>
</div>
<br>
<div class="chart-wrapper">
  <canvas #restaurantsByMeals width="200" height="200"></canvas>
</div>
<br>
<div class="chart-wrapper">
  <canvas #restaurantsByAmbience width="200" height="200"></canvas>
</div>
<br>
<div class="chart-wrapper">
  <canvas #restaurantsByMusic width="200" height="200"></canvas>
</div>
<br>
<div class="chart-wrapper">
  <canvas #restaurantsByDay width="200" height="200"></canvas>
</div>
<br>